﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="todoController">
        <span>{{remaining()}} of {{todos.length}} done.</span>
        <ul>
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done" />
                <span>{{ todo.text }}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="newText" />
            <input type="checkbox" ng-model="newDone" />
            <input type="submit" value="Add" />
        </form>
    </div>
    
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-2.1.0.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
